<template>
    <div>
        <vc-date-picker
            v-model="date"
            mode="dateTime"
            is24hr
            :masks="masks"
            :popover="{ visibility: 'click' }"
            :model-config="modelConfig"
            @change="setNewDate"
            @dayclick="dayclicked"
        >
        <template #default="{ inputValue, inputEvents }">
            <input
                class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300"
                :value="inputValue"
                v-on="inputEvents"
            />
        </template>
        </vc-date-picker>
    </div>
</template>

<script>
export default {
    props: {
        startDate: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
            date: '',
            masks: {
                input: 'YYYY-MM-DD h:mm A',
            },
            modelConfig: {
                type: 'string'
            },
        }
    },
    computed: {
        setNewDate() {
            return this.$emit("selected", this.date)
        }
    },
    mounted() {
        this.date = this.startDate
    },
    methods: {
        dayclicked() {
            return this.$emit("selected", this.date)
        }
    }
}
</script>