<template>
    <b-container>
        <b-col :xs="12">
            <b-card>
                <b-modal ref="eventModal" hide-footer>
                    <b-form-group
                        id="fieldset-1"
                        label="Enter your event title"
                        label-for="input-1"
                        valid-feedback="Thank you!"
                    >
                        <b-form-input id="input-1" v-model="title" trim></b-form-input>
                    </b-form-group>
                    <div class="datepicker">
                        <b-form-group
                            id="fieldset-2"
                            label="Enter your event start date"
                            label-for="input-2"
                            valid-feedback="Thank you!"
                        >
                            <date-picker :start-date="startStr" @selected="dateStartSelected" />
                        </b-form-group>
                        <b-form-group
                            id="fieldset-3"
                            label="Enter your event end date"
                            label-for="input-3"
                            valid-feedback="Thank you!"
                        >
                            <date-picker :start-date="endStr" @selected="dateEndSelected" />
                        </b-form-group>
                    </div>
                        <b-button v-if="!id" class="mt-3" variant="outline-danger" block @click="addEvent({title, startStr, endStr})">Create Event</b-button>
                        <b-button v-else class="mt-3" variant="outline-danger" block @click="updateEvent({id, title, startStr, endStr})">Update Event</b-button>
                        <b-button v-if="id" class="mt-3" variant="outline-danger" block @click="deleteEvent(id)">Remove Event</b-button>
                </b-modal>
                <full-calendar :options="calendarOption"/>
            </b-card>
        </b-col>
    </b-container>
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import listPlugin from '@fullcalendar/list'
import interactionPlugin from '@fullcalendar/interaction'
import {
    BButton,
    BContainer,
    BCol,
    BCard,
    BModal,
    BFormInput,
    BFormGroup,
} from 'bootstrap-vue'
import { mapGetters } from 'vuex' 
import DatePicker from '@/componentsAtomic/DatePicker.vue'
export default {
    components: {
        BButton,
        BContainer,
        BCol,
        BCard,
        BModal,
        FullCalendar,
        DatePicker,
        BFormInput,
        BFormGroup,
    },
    data(){
        return {
            startStr: '',
            endStr: '',
            titleEvent: '',
            id: '',
            title: '',
        }
    },
    computed: {
        ...mapGetters('calendar', {
            getEvents: 'getEvents'
        }),
        calendarOption() {
            return {
                ...this.calendarConfig,
                ...this.calendarEventHandler
            }
        },
        calendarConfig() {
            return {
                plugins: [ dayGridPlugin, timeGridPlugin, listPlugin, interactionPlugin],
                initialView: 'timeGridWeek',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,listWeek'
                },
                events: this.getEvents,
                selectable: true,
                editable: true,
                handleWindowResize: true,
                scrollTimeReset: false,
            }
        },
        calendarEventHandler() {
            return {
                eventDrop: this.calendarDrop,
                select: this.calendarSelect,
                dateClick: this.calendarClick,
                eventClick: this.calenderEventClick
            }
        }
    },
    methods: {

        dateEndSelected(value) {
            this.endStr = value
        },

        dateStartSelected(value) {
            this.startStr = value
        },

        calendarSelect(info){
            this.id = ""
            this.title = ""
            this.$refs.eventModal.show()
            this.startStr = info.startStr
            this.endStr = info.endStr
        },

        calenderEventClick(info) {
            this.$refs.eventModal.show()
            this.startStr = info.event.startStr
            this.endStr = info.event.endStr
            this.id = info.event.id
            this.title = info.event.title
        },

        calendarClick(info) {
            this.id = ""
            this.title = ""
            this.$refs.eventModal.show()
            this.startStr = info.dateStr
        },

        updateEvent(data) {
            this.$store.dispatch('calendar/updateEvent', data)
            .then(response => {
                if (response === '200')
                    this.displayToast('success', 'Successfully updated event')
                else
                    this.displayToast('danger', 'An error has occured')
            })
            this.hideCalendarEventHandler()
        },

        deleteEvent(id) {
            this.$store.dispatch('calendar/deleteEvent', id)
            .then(response => {
                if (response === '200')
                    this.displayToast('success', 'Successfully deleted event')
                else
                    this.displayToast('danger', 'An error has occured')
            })
            this.hideCalendarEventHandler()
        },

        addEvent(data) {
            this.$store.dispatch('calendar/addEvent', data)
            .then(response => {
                if (response === '200')
                    this.displayToast('success', 'Successfully created event')
                else
                    this.displayToast('danger', 'An error has occured')
            })
            this.hideCalendarEventHandler()
        },

        hideCalendarEventHandler() {
            this.$refs.eventModal.hide()
        },

        calendarDrop(info) {
            this.updateEvent(info.event)
        },

        displayToast(response, message) {
            this.$bvToast.toast(message, {
            title: `Variant ${response || 'default'}`,
            variant: response,
            solid: true
            })
        }
    }
}
</script>

<style>
.datepicker {
    display: flex;
    justify-content: space-around;
}
</style>